body {
  margin: 0;
  background-color: #333;
  color: white;
  font-size: 20px;
}

header {
  margin: 0;
  background-color: black;
}

header h1 {
  margin: 0 0 24px;
  padding: 16px 24px;
}

section {
  padding: 8px 24px;
}
